body {
    background-image: url('../images/mortal-kombat-fighting-background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: orange;
    height: 100%;
    
}

.deck {
  font-size: 100px;
}

.weapons:hover {
  border: 2px solid red;
}
#trashTalk {
  color: black;
}

.trashRoll {
 overflow: hidden;
}
.table {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  max-height: 30%;
  font-size: 10 px;
}